{% extends 'index.html' %}
{% block head_template %}
    <link rel="stylesheet" href="/static/css/chat.css">
{% endblock %}

{% block content_template %}
    <div class="chat_box">
        <div class="row chat_content">
            {#左侧联系人部分#}
            <div class="col-md-3 chat_content_left">
                {# 选择模块 切换群组/联系人 #}
                <div class="contact_head">
                    <div class="contact_menu action" onclick="ChangeTypes(this)" contact-type="single" content_id="{{ request.user.id }}"><a>联系人</a></div>
                    <div class="contact_menu" onclick="ChangeTypes(this)" contact-type="group" content_id="{{ request.user.id }}" ><a>群  组</a></div>
                </div>
                {# 列表显示联系人或者群组成员 #}
                <div  class="chat_contact" id="contact_list">
                    <ul class="list-group" >
                    </ul>
                </div>
            </div>
            {# 右侧聊天窗体部分 #}
            <div class="col-md-7 chat_content_right ">
                <div class="message_head" id="contact_box_head">
                    <div class="message_title" ></div>
                    <div class="message_describe"></div>
                </div>
                <div class="message_text" id="contact_box_message"></div>
                <div class="message_input" id="contact_box_input">
                    <textarea></textarea>
                </div>
                <div class="message_bottom" id="contact_box_bottom">
                    <input class="btn btn-success" type="button" value="发送">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_template %}
    <script type="text/javascript" src="/static/js/chat/safe.js"></script>
    <script type="text/javascript" src="/static/js/chat/chat.js"></script>
{% endblock %}